.App {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact{
  width: 500px;
}
.services{
  width: 500px;
}
.active{
  color: orange;
  font-weight: bold;
}

